In [8]:
#Importing Dependencies
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv',encoding='latin-1')

In [73]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [74]:
df.shape

(1599999, 6)

In [5]:
#Getting features and labels
X = df.iloc[:,5]
y = df.iloc[:,0]

In [9]:
#Splitting training and testing data, 80:20
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
max_words = 1000
seq_len = 100

In [11]:
#Tokenizing data
tokenizer = Tokenizer()

In [12]:
tokenizer.fit_on_texts(X_train)

In [13]:
word_index = tokenizer.word_index

In [14]:
train_seq= tokenizer.texts_to_sequences(X_train)
test_seq = tokenizer.texts_to_sequences(X_test)

In [15]:
train_pad = pad_sequences(train_seq,maxlen=seq_len, padding='post')
test_pad = pad_sequences(test_seq,maxlen=seq_len, padding='post')

In [57]:
#Changing from 0 to 4, to 0 to 1
label_to_index = {0: 0, 4: 1}
y_train_encoded = np.array([label_to_index[label] for label in y_train])
y_test_encoded = np.array([label_to_index[label] for label in y_test])

In [58]:
y_train_one_hot = tf.keras.utils.to_categorical(y_train_encoded, num_classes=2)

array([0, 0, 0, ..., 1, 1, 0])

In [18]:
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=len(tokenizer.word_index) + 1, output_dim=16, input_length=seq_len),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(16, activation='relu'),
    tf.keras.layers.Dense(2, activation='sigmoid')
])

In [19]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [20]:
model.fit(train_pad, y_train_one_hot, epochs=10, batch_size=32, validation_split=0.1)

Epoch 1/10
36000/36000 [==============================] - 3492s 97ms/step - loss: 0.4546 - accuracy: 0.7889 - val_loss: 0.4283 - val_accuracy: 0.8023
Epoch 2/10
36000/36000 [==============================] - 3495s 97ms/step - loss: 0.4069 - accuracy: 0.8152 - val_loss: 0.4257 - val_accuracy: 0.8059
Epoch 3/10
36000/36000 [==============================] - 3501s 97ms/step - loss: 0.3877 - accuracy: 0.8266 - val_loss: 0.4244 - val_accuracy: 0.8066
Epoch 4/10
36000/36000 [==============================] - 3474s 97ms/step - loss: 0.3717 - accuracy: 0.8358 - val_loss: 0.4249 - val_accuracy: 0.8072
Epoch 5/10
36000/36000 [==============================] - 3463s 96ms/step - loss: 0.3573 - accuracy: 0.8437 - val_loss: 0.4307 - val_accuracy: 0.8048
Epoch 6/10
36000/36000 [==============================] - 3460s 96ms/step - loss: 0.3437 - accuracy: 0.8513 - val_loss: 0.4489 - val_accuracy: 0.8023
Epoch 7/10
36000/36000 [==============================] - 3483s 97ms/step - loss: 0.3310 - accuracy: 0.8586 - val_loss: 0.4560 - val_accuracy: 0.7995
Epoch 8/10
36000/36000 [==============================] - 3473s 96ms/step - loss: 0.3185 - accuracy: 0.8650 - val_loss: 0.4555 - val_accuracy: 0.7996
Epoch 9/10
36000/36000 [==============================] - 3496s 97ms/step - loss: 0.3068 - accuracy: 0.8712 - val_loss: 0.4573 - val_accuracy: 0.7973
Epoch 10/10
36000/36000 [==============================] - 3452s 96ms/step - loss: 0.2954 - accuracy: 0.8773 - val_loss: 0.4703 - val_accuracy: 0.8001

In [26]:
y_pred = model.predict(test_pad)
#Float to int
y_pred_labels = np.argmax(y_pred, axis=1)

10000/10000 [==============================] - 18s 2ms/step

In [62]:
accuracy = accuracy_score(y_test_encoded, y_pred_labels)
report = classification_report(y_test_encoded, y_pred_labels)

In [65]:
print(report)

              precision    recall  f1-score   support

           0       0.79      0.82      0.80    159494
           1       0.81      0.79      0.80    160506

    accuracy                           0.80    320000
   macro avg       0.80      0.80      0.80    320000
weighted avg       0.80      0.80      0.80    320000

In [1]:
print(f'Accuracy of the model is {round(accuracy*100)} %')

NameError: name 'accuracy' is not defined

In [3]:
import joblib

In [ ]:
joblib.dump(value=)